body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.input-field label {
  color: white;
}

.titulo {
  text-align: center;
  padding: 0rem 0 1px 0;
  background-color: #03a9f4;
}
.card {
  color: #162141;
}
p {
  display: flex;
  justify-content: center;
}
.contenedor-form {
  padding: 3rem 0 1px 0;
  background-color: #03a9f4;
}
.mensaje {
  text-align: center;
  font-size: 2rem;
}
.buscador i {
  width: 100%;
}
.error {
  padding: 1rem !important;
  color: white;
  margin-top: 3rem;
  text-align: center;
  text-emphasis: left;
}
.card-panel h2 {
  font-size: 1rem;
  text-align: center;
}
.contenedor-climas {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.card-panel p {
  text-align: center;
  font-size: 1rem;
}
.temperatura {
  font-size: 2rem !important;
}
.temperatura span {
  font-size: 2rem !important;
  vertical-align: super;
}

.btn-block {
  display: block !important;
}
.error {
  padding: 1rem !important;
  text-align: center !important;
  color: #fff !important;
}
